@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@{
    ViewData["Title"] = "Recepcion";
}

<h2>Recepcion</h2>

<div> ID: @Model.Id , Numero de Lote: @Model.NumLote , Proveedor: @Model.Proveedor , Peso @Model.PesoFruta Kg </div>